/*banner*/
* {
    padding: 0;
    margin: 0 auto;
}
.w{
    width: 1170px;
}
.banner{
    height: 400px;
    width: 100%;
    background: url("../images/about_bg.png") no-repeat center 0;
}
/*main*/
.content{
    margin: 60px 84px 113px;
}
.content p{
    margin-bottom: 29px;
    color: #333;
    font-size: 16px;
    line-height: 28px;
    text-indent: 2em;
}