/*banner*/
.banner{
    background: url("../images/product_bg.png") no-repeat center 0;
    height: 400px;
}
/*main*/
.main{
    margin-top: 70px;
}
#list_text{
    width: 236px;
    overflow: hidden;
}
.main_left ul li{
    width: 232px;
    margin-bottom: 2px;
    padding-left: 14px;
    font-size: 18px;
    color: #666;
    line-height: 60px;
    height: 60px;
    cursor: pointer;
    overflow: hidden;
}
.main_left ul li i{
    display: inline-block;
    width: 30px;
    height: 30px;
    vertical-align: middle;
    margin-right: 16px;

}
.icon_1{
    background: url("../images/ico_hy.png") no-repeat;
}
.icon_2{
    background: url("../images/ico_hlw.png") no-repeat;
}
.icon_3{
    background: url("../images/ico_ai.png") no-repeat;
}
.main_left ul li:hover{
    background-color: #f8f6f6;
    color: #203d86;
}
.main_left ul li.left_on{
    background-color: #f8f6f6;
    color: #203d86;
}
.main_left ul li#list1:hover .icon_1{
    background: url("../images/ico_hy_on.png") no-repeat 0;
}
.main_left ul li#list2:hover .icon_2{
    background: url("../images/ico_hlw_on.png") no-repeat 0;
}
.main_left ul li#list3:hover .icon_3{
    background: url("../images/ico_ai_on.png") no-repeat 0;
}
.main_left ul li.left_on .icon_1{
    background: url("../images/ico_hy_on.png") no-repeat 0;
}
.main_left ul li.left_on .icon_2{
    background: url("../images/ico_hlw_on.png") no-repeat 0;
}
.main_left ul li.left_on .icon_3{
    background: url("../images/ico_ai_on.png") no-repeat 0;
}
.main_right{
    padding-left: 4px;
    width: 930px;
}
.main_right ul{
    overflow: hidden;
    display: none;
}
.main_right ul.main_active{
    display: block;
}
.main_right ul li{
    float: left;
    width: 297px;
    height: 212px;
    margin-left: 9px;
    margin-bottom: 24px;
    cursor: pointer;
}
.main_right ul li:hover{
    box-shadow: 0 0 8px rgba(119,119,119,.35);
}
.main_right ul li img{
    width: 297px;
    height: 158px;
}
.main_right ul li h3{
    font-size: 16px;
    line-height: 54px;
    height: 54px;
    color: #333;
    text-align: center;
    font-weight: bold;
}